:root {
  --background-light: #f4f3ef;
  --header-text: #1d341d;
  --body-text: #242424;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: var(--body-text);
  background-color: var(--background-light);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
  color: var(--header-text);
}

nav {
  display: block;
  width: max-content;
  margin: 1rem auto;
}

nav a {
  display: block;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 3rem;
  margin: 2rem;
  padding: 0.6rem;
  border: 5px solid #55403c;
  color: #55403c;
  border-radius: 3rem;
}

nav a:hover {
  color: #a89897;
  text-decoration: none;
  border: 5px solid #a89897;
}

ul, ol, li {
  list-style: none;
  padding: 0
}

a, a:visited, a:active {
  text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media screen and (min-width: 800px) {
  nav a {
    display: inline-block;
    margin: 0.7rem;
  }

  li {
    display: inline-block;
  }
}