main {
    width: 700px;
    margin: 2rem auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

img {
    width: 700px;
    height: 500px;
}

button {
    background: none;
    border: none;
    position: relative;
    top: calc(3rem + 48px);
    width: 6rem;
    height: 500px;
    padding: 0;
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

#prev {
    left: 4rem;
    -webkit-animation: 8s ease-out 0s infinite normal bounce-left;
    animation: 8s ease-out 0s infinite normal bounce-left;
}

#next {
    right: 4rem;
    -webkit-animation: 8s ease-out 0s infinite normal bounce-right;
    animation: 8s ease-out 0s infinite normal bounce-right;
}

button:hover {
    color: white;
    cursor: pointer;
}


@-webkit-keyframes bounce-left {
    0%, 36%, 36%, 100% {
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
    4%, 18%, 32% {
        -webkit-transform: translateX(15%);
        transform: translateX(15%);
    }
    11%, 25% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}


@keyframes bounce-left {
    0%, 36%, 36%, 100% {
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
    4%, 18%, 32% {
        -webkit-transform: translateX(15%);
        transform: translateX(15%);
    }
    11%, 25% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes bounce-right {
    0%, 36%, 36%, 100% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    4%, 18%, 32% {
        -webkit-transform: translateX(-15%);
        transform: translateX(-15%);
    }
    11%, 25% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes bounce-right {
    0%, 36%, 36%, 100% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    4%, 18%, 32% {
        -webkit-transform: translateX(-15%);
        transform: translateX(-15%);
    }
    11%, 25% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

h2 {
    margin: 1.5rem 0;
    font-size: 2.5rem;
    width: 700px;
    text-align: center;
}

p {
    box-sizing: border-box;
    font-size: 1.5rem;
    line-height: 2rem;
    width: calc(700px - 6px);
    padding: 1rem;
    border: 3px solid #55627d;
}

#hobbies {
    width: 700px;
    min-width: 700px;
    height: 900px;
    z-index: 0;
}
