main {
  margin: 1.5rem;
  padding: 1.5rem;
}

ul {
  margin-top: 2.5rem;
}

.form-group {
  margin: 1rem;
}

.person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
}

.person > span {
  width: calc(90vw / 3);
  text-align: left;
} 